.sidebar {
  display: flex;
  width: 100%;
  height: 100%;
  flex: {
    direction: column;
  }
  border-right: 1px solid rgba(#ccc, 0.5);

  .sidebar-header__container {
    display: flex;
    flex-direction: column;
    .sidebar-header {
      flex: {
        basis: 67px;
        direction: row;
      }
      align-items: center;
      padding: 0px 20px 0px 20px;
      background-color: #eeeeee;
      display: flex;
      justify-content: space-between;

      .avatarContainer {
        flex-basis: 43px;
        height: 43px;
        img {
          height: 100%;
          border-radius: 30px;
        }
      }

      .actionsContainer {
        height: 100%;
        display: flex;
        align-items: center;
        width: 110px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .sidebar-searchbox {
    flex-basis: 50px;
    background-color: #fbfbfb;
    border-bottom: 1px solid rgba(#e1e4e5, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      position: absolute;
      left: 30px;
      background-color: #fbfbfb;
    }

    input {
      width: calc(90% - 60px);
      padding-left: 50px;
      border: none;
      border-radius: 20px;
      box-shadow: 0px 0px 2px #efefef;
      height: 70%;
      color: #a4a4a4;
      outline: none;
      &::placeholder {
        color: #a4a4a4;
        font-weight: 100;
      }
    }
  }
  .sidebar-content {
    flex-grow: 1;
    overflow: auto;
    .noConversation {
      padding: 30px;
      font-size: 18px;
      text-align: center;
      color: #b9b9b9;
      font-weight: 100;
    }
    .conversation {
      padding-right: 5px;
      height: 67px;
      display: flex;
      transition: all 0.4 ease-in-out;
      cursor: pointer;
      &:hover {
        background-color: rgba(#fbfbfb, 0.5);
      }
      .conversation-proPic {
        flex-basis: 73px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          max-width: 100%;
          width: 48px;
        }
      }
      .conversation-content {
        border-bottom: 1px solid #f2f2f2;
        flex-grow: 1;
        padding: 13px 0px;
        padding-right: 10px;
        .conversation-content--header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .conversation-content--header__time {
            color: #979797;
            font-size: 13px;
            padding-top: 2px;
          }
          .conversation-content--header__name {
            color: #040404;
          }
        }
        .conversation-content--message {
          color: #717171;
          font-size: 13px;
          padding-top: 5px;
          display: flex;
          align-items: center;
          img {
            margin-right: 3px;
          }
        }
      }
    }
  }
}
