#background-header {
  width: 100%;
  height: 20vh;
  background-color: #019688;
}

#background-body {
  height: 80vh;
  background-color: #e0e0e0;
}

#chat-container {
  background-color: #fff;
  position: fixed;
  height: 90%;
  width: 70%;
  top: 0%;
  bottom: 0%;
  margin: auto;
  left: 0%;
  right: 0%;
  overflow: hidden;
  box-shadow: -1px 3px 10px rgba($color: #333, $alpha: 0.2);
  border-radius: 3px;
  display: flex;
  flex-direction: row;

  app-sidebar {
    flex-basis: 30%;
    display: block;
  }
}
